<div class="container">
  <div class="row">
            <div id="inbox">
          <div class="fab btn-group show-on-hover dropup">
              <div data-toggle="tooltip" data-placement="left" title="Adicionar" style="margin-left: 42px;">
          <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="modal" data-target="#mynewtask">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse fab-secondary"></i>
            </span>
          </button>
        </div>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="  Pão"><i class="fa fa-coffee"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="Tomar Água"><i class="fa fa-comments-o"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="Perfil"><i class="fa fa-hand-o-up"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="left" title="Convidar"><i class="fa fa-ticket"></i></a></li>
          </ul>
        </div>
        </div>
  </div>
</div>