<div class="jumbotron grey-jumbotron">
  <center>
    <h1>
      Gerenciamento de Tarefas
    </h1>
    <p>
      Gerenciador de tarefas e acompanhamento de projetos do setor comunicacão (BETA).
    </p>
      <a class="btn btn-lg btn-success" href="/users/sign_up" role="button">Registra-se</a>
  </center>
</div>