<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i> Gerenciador de Tarefas</h1>	
<p>Gerenciador de tarefas e acompanhamento de projetos do setor comunicacão (BETA).</p>
<%= link_to "Entrar", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div> 