// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #header{
//   color: #fff;
//   background: #34495e;
//   width: 100%;
//   height: 70px;
//   padding: 70px;
//   position: fixed;
//   top: -500px;
//   z-index: 11;

//   h1{
//   margin-top: 10px;
//   padding: 0px;
//   font-weight: 300;
//   float: left;
// }

// }

 
.navbar{
	/*margin-bottom: 0px !important;*/
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 0px;
	color: white;

.form-control {
	  background-color: rgba(255, 255, 255, 0.43) !important;
	  color: #07487C !important;
	  border-radius: 19px !important;
	  border: 1px solid #2196F3;
}

}

.barra {
  padding-left: 14%;
}	  

.navbar-default {
  background-color: #2196F3;
  border-color: #2196F3;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  color: white;
}
.navbar-default .navbar-brand{
  color: white; 
} 
.navbar-default .navbar-nav>li>a{
  color: white; 
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: white; 
}


.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background-color: transparent; 
	color:white;
}

@media (max-width: 768px){
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
   border-color: transparent; 
   background-color: rgb(12, 77, 128);
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #2196F3;
  }
	.navbar{
		.form-control {
		  position: fixed;
		  top: 13px;
		  width: 53%;
		  left: 29%;
		}
	}

}