// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .test{
// color: darken( $base-color, 10% );
// color: lighten( $base-color, 10% );
// color: saturate( $base-color, 20% );
// color: desaturate( $base-color, 20% );
// }

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 280px;
  margin-bottom: 10px;
}
 
.sortable {
  // display: list-item;
}

.vermelho {
	// background-color: #F31240;
	// border-radius: 4px;
	h1{
	color: #F31240;
	}
}
.amarelo {
  font-style: normal;
	h1{
  color: #F57C1D;
}
  // background-color: #F9EBA5;
  border-left: 2px dotted #B4B4B4;
  // border-radius: 4px;
}
.verde {
  font-style: normal;
	h1{
color: #29C2E8;
}
// background-color: #dff0d8;
border-left: 2px dotted #B4B4B4;
// border-radius: 4px;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
