[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
} 
/* entypo */
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
} 

// Variables

//// Sizes
$size-w: 266px;
$size-h: 378px;
$limit: 230px;

//// Colors
$green-color: rgb(151,206,109);
$white-color: white;
$blue-color: rgb(18,133,241);
$orange-color: rgb(243,144,62);
$grey: rgb(226,232,238);
$light-grey: rgb(234,238,246);
$blue-side:rgb(93,150,252);
$gradient: rgb(40,202,202),rgb(67,157,202);

// Mixins ( from : http://codepen.io/chriscoyier/blog/some-mini-sass-mixins-i-like)
@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #247BC0;
  color: #FBFAF7;
  font-family: entypo;

  display: inline-block;
  float: left;
  margin: 0px 16px 16px 0px;
  width: $size-w;
  height: $size-h;
  box-shadow: 0 0 80px rgba(0,0,0,.4), 0 0 1px rgba(0,0,0,.5);

  transition: all .3s ease;
  transform: scale(.6);
  opacity: 0;

  &.activated{
    transform: scale(1); 
    opacity: 1;

    animation: zoomed 1s ease 1s;
  }
  &.activated-zoom{
    transform: scale(1.2);
    opacity: 1;
  }


  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, sans-serif;
  font-weight: 300;


  h2, h3{
      text-transform: capitalize;
      line-height: 0.89;
      color: darken($white-color, 15%);
      display: block;
      
    }
}
// .content{
    
//     font-family: sans-serif !important;
//     color: rgba(255, 255, 255, 0.69) !important;

// h2{
//   text-transform: capitalize;
//   font-size: 1.5em;
//   margin-top: 10px;
//   margin-bottom: 5px;
//   font-weight: 100 !important;
// }

// h3{
//   text-transform: capitalize;
//   font-size: 12px;
//   margin-top: 5px;
// }

// }

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 48px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
}


@media all and (max-width: 768px){
  .card{
    width: 100%;
    height: 100%; 
    margin-top: 36px;
    
    .card_top{
      height: $limit*1.3; 
    }
    .card_side{
      width: 100%;
      display: block;
      top: -36px;
      left: 0;

      &:after{
        display: none;
      }
    }
  }
}

